

<!doctype>
<%@page import="java.sql.*" %>
<%
ResultSet rs= null;
ResultSet rs1= null;
%>
<html>

<head>
	<title>Add Books</title>

	<style>
		.bg{
                     background-image: url("book1.jpg");
		     height:100%;
 		     background-position:center;
		     background-repeat:no-repeat;background-size:cover;
                    	}
		#myTextBox2 { margin-left: 50px;width:190;font-size:100%; }
		#search { width:110px; height:40px;margin-right:600}
		.d{
		    margin-right:85;
		    color: blue;
		    text-align: right;
		  }
		.d1{
		    margin-right:120;
		    color: blue;
		    text-align: right;
		   }
		

	</style>

	

</head>

<body > 
	
	<div class="bg"> 
	<div style="text-align:center">

	<h1 style="line-height:4; margin-right:600 font-size:140px"> Add Books </h1>
	<div class="d">
	<img src="author.png" alt="img" style="width:120px;height:120px;"><br>
	</div>
	<div class="d1">
	<a href=" ">Add author</a>
	</div>	
	
	
	<form action="add" method="post">
		<div style="display: inline-block; text-align:right; line-height:4; margin-right:600;font-size:20px;">
		Admin id
		
		
		<%
		 { 
			
			Class.forName("com.mysql.jdbc.Driver");
			Connection con = DriverManager.getConnection("jdbc:mysql://localhost:3306/library_management_system", "root", "nivetha");
			Statement statement = con.createStatement() ;
			Statement statement1 = con.createStatement() ;
                        rs =statement.executeQuery("select * from admin") ;
		        rs1 =statement1.executeQuery("select * from stream") ;
		        
		        
	}
		
		%>
		
		
    
        <select name=admin_id; id="myTextBox2">
        <%  while(rs.next()){ %>
            <option><%= rs.getString(1)%></option>
        <%} %>
        </select>

		</br>Date <input type="date" id="myTextBox2" name="date_added"><br/>
		
		
		Stream id
		
		
		 <select name=stream_id; id="myTextBox2">
        <%  while(rs1.next()){ %>
            <option><%= rs1.getString(1)%></option>
        <%} %>
        </select>
		
		</br>
		
		
		
		
		Book id<input type="text" id="myTextBox2" name="id"><br/>
		Book Name<input type="text" id="myTextBox2" name="name"><br/>
		Count<input type="text" id="myTextBox2" name="count"><br/>
		
	
		</div>
		<br/><input type="submit" id="search" value="submit">
	</form>
	
	</div>
	</div>
</body>

</html>
